## **Understanding Data, Variables & Expressions in Python**
About the Course:
This course introduces fundamental programming concepts in Python including 
* Data types 
* Values
* variables
* Expressions, and
* Statements.

It's designed as a beginner-friendly module and lays the groundwork for understanding how Python handles data. Simple practical examples, like printing messages or evaluating data types, help reinforce core principles.

## Goal
* To understand how Python interprets and manipulates different data types.

* To learn how variables are declared and used.

* To explore expressions, statements, and operators.

* To build foundational programming knowledge for more advanced data science tasks.

## Dataset / Input Details
This project does not use an external dataset. Instead, it uses hardcoded inputs and interactive statements to explain concepts such as:

* Data values and types

* Standard input and output

* Type casting

* Expression evaluation

## Methodologies
The following key topics were covered using live code examples and markdown explanations:

1.0. Data Types:  Integer, Float, String, Boolean

1.1 Variables

1.2 Order of Operations

1.3 Typecasting/Conversion

1.4 Statements and Expressions 

1.5 Standard Output

1.6 Escape Sequences

1.7 Dynamic Typing

1.8 Computation: Operators and Operands

1.9 Standard Input

1.10 Skills learnt

1.11 Exercises

### 1.0 DATA TYPE: Checking the type of values

In [1]:
# Integer

type(100)

int

In [3]:
# Float
type(99.99)

float

In [4]:
# String

type('hello')

str

In [5]:
# Boolean-True or False

type(True)

bool

## 1.1 VARIABLES

Variables are identifiers or like containers used to store values for easy manipulation and referencing

**NOTE:**
- Variables must be defined/declared before you can use it
   
- Variables can't be keyword -- what are the built-in keywords?

- They can start with only alphabets or underscore ( _ )

- They can't have symbols such as $, %, &, white space, etc.

- CamelCase or Underscore conventions can be used for_multi_word_names

In [11]:
# To define a variable x and print the data inside the variable
x = "I love python programming language"

print(x)

I love python programming language

In [13]:
# More examples
Name = 'Nicholas'
Profession = "Data Scientist/Technical writer"
MaritalStatus = "Single"
Dream_Country = "Canada"

print(Name)
print(Profession)
print(MaritalStatus)
print(Dream_Country)

Nicholas
Data Scientist/Technical writer
Single
Canada

## 1.2 ORDER OF OPERATIONS

This depends on the rules of precedence, Use the BODMAS rule from high to low order

BOMAS implies :

- Bracket
- of (multiplication)
- Division (left to right)
- Multiplication
- Addition
- Subtraction

In [15]:
# Example

print(2 * 3 + 5 ** 2 - 4 / 2)

29.0

## 1.3 TYPECASTING/CONVERSION
Data needs to be converted from one type to another as needed using built-in functions such as str(), int(), and float();

this process is called type casting

- str(value) - It converts any value into string

- int(value) - It converts numeric value into int

- int(value) - It converts numeric value into float

In [31]:
# STRING to NUMBER (int)
string_num = "42"
converted_num = int(string_num)

print(converted_num)
print(type(converted_num))

42
<class 'int'>

In [37]:
# NUMBER(Int)TO STRING

number = 123
converted_string = str(number)
print(converted_string)       # Output: "123"
print(type(converted_string)) # Output: <class 'str'>

123
<class 'str'>

In [34]:
float_num = 3.99
converted_int = int(float_num)
print(converted_int)       # Output: 3
print(type(converted_int)) # Output: <class 'int'>

3
<class 'int'>

In [38]:
type(True)
type(False)

bool

## 1.4 STATEMENTS AND EXPRESSIONS
- A statement is an instruction that performs an action. It doesn't necessarily return a value
- An expression is any piece of code that returns a value
expressions are evaluated giving a results

In [40]:
# Statement example

print("Hello World!")

Hello World!

In [41]:
result = 2 + 5
print(result)

7

## 1.5 STANDARD OUTPUT(stdout) 
This the default place where the program sends output data, typically the console or terminal.

- The most common way to send output to stdout is using the print() function.

- Common Standard Output Examples

In [43]:
# Printing a string

print("Hello, World!")

Hello, World!

In [44]:
# Printing numbers

print(42)

42

In [46]:
# Printing multiple values

name = "Nicholas"
age = 30
print("Name:", name, "Age:", age)

Name: Nicholas Age: 30

In [48]:
# Formatted output using f-strings

score = 95
print(f"My score is {score}")

My score is 95

In [56]:
# Printing with custom separators and end characters

print("I love", "data science", sep=" ", end="!")

I love data science!

## 1.6 ESCAPE SEQUENCES

Escape Sequences: Special characters used inside strings to represent things like newlines, tabs, or quotes — usually starting with a backslash (\).

**NOTE:**

- Some letters or sequences of letters have special meaning to Python
- Single, double, and triple single or double quotes represent string data
- Use backslash \ to represent these escape sequences, e.g.,

     -  \n - new line

     -  \ - back slash

     -  \t - tab

     -  \r - carriage return

     -  \' - single quote

     -  \" - double quote

In [59]:
# Common Escape Sequences with Examples:

#1. Newline (\n) – Moves to a new line
print("Hello\nWorld")

#2. Tab (\t) – Inserts a horizontal tab
print("Name:\tNicholas")

#3. Double Quote (\") – Allows double quotes inside a string
print("He said, \"Python is fun!\"")

#4. Backslash (\\) – Inserts a backslash
print("Path: C:\\Users\\Nicholas")

Hello
World
Name:	Nicholas
He said, "Python is fun!"
Path: C:\Users\Nicholas

## 1.7 DYNAMIC TYPING: 
- Here, there is no need to declare the type of a variable when you create it.
- Python automatically detects the variable's type at runtime, based on the assigned value.
- Type is determined during execution, not in advance.
- A variable can be used to store different data types at different times.

In [63]:
# Examples of Dynamic Typing

x = 10          # x is an integer
x = "Hello"     # x is now a string
x = 3.14        # x is now a float

print(x)

3.14

## 1.8 COMPUTATION: OPERATORS AND OPERANDS

In programming, computation refers to performing mathematical or logical operations using operators and operands.

- Operators are special tokens/symbols that represent computations like addition, multiplication, division, comparison etc
 
- Types of Operators in Python:                           

   - Arithmetic	       
 
   - Assignment	
 
   - Comparison	
 
   - Logical	   
 
   - Bitwise	
 
   - Membership	
 
   - Identity	        

- Examples	

  - addition: 10 + 20
  
  - subtraction: 20 - 10
  
  - true division: 10 / 3
  
  - multiplication: 7 * 9
  
  - integer division: 10 // 3
  
  - remainder or modulus operator: 10 % 2
  
  - power: 2 ** 3
  
 - OPERANDS: An operand is a value or variable on which the operator acts. In the example below, x and y are operands while + is an operator

   Check the examples below:

In [68]:
# Example include:
x = 10
y = 5
z = x + y
print(z)

15

In [78]:
# Arithmetic
a = 6
b = 2
print(a * b)  # 12

12

In [73]:
# Comparison

print(a > b)

True

In [74]:
# Logical

print(a > b and b < 5)  # True

True

In [79]:
# Assignment
a += 3  # Same as a = a + 3

## 1.9 Standard input
Standard input means taking input from the user via the keyboard, usually using the input() function.

- Note:
  - input() always returns a string.
  - You must cast it if you need a number: int(), float(), etc.
  - read data from standard or common input such as keyboards
  - allows your program to receive data during program execution facilitating user interactions
  - You can convert it to a number using int() or float() if needed.

In [2]:
name = input('What is your name? ')

What is your name?  Nick

In [1]:
num = input('Enter a number =>')
print('You entered: ', num)
print('type of', bnum, '=', type(num))

Enter a number => 4

You entered:  4
type of 4 = <class 'str'>

## 1.10 Skills you will develop in this course
  - Understanding Python's data model (int, float, str, bool)

  - Writing valid expressions and assigning variables

  - Type checking and debugging

  - Building basic user interaction programs

  - Grasping foundational logic used in all Python-based projects
  
  - Writing in Jupyter Notebook using LaTex syntax

 ## 1.11 Exercises
 ## 1. Area and perimeter of a rectangle
   - write a python script that calculates area and perimeter of a rectangle

In [ ]:
# Demonstrate composition step by step
# Algorithm steps
# 1. Get length and width of a rectangle
#     a. hard coded values OR
#     b. prompt user to enter length and width values
#        i. convert length and width into right data types
# 2. Find area = length x width
# 3. Find perimeter = 2(length + width)
# 4. Display calculated results

## 2. Area and circumference of a circle
 - write a python script that calculates area and circumference of a circle
 - area of a circle is calculated using equation: $A = \pi r^2$
 - perimeter of a circel is calculated using equation: $C = 2\pi r$

**NOTE**: You can use $\pi = 3.14159$