<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Lists/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists from Scratch !!!

## Let's understand the Python Lists from basic to advance level.

![alt text](https://lh3.googleusercontent.com/ge8A9HL1KBFhclU688B6ZTS7emC_yhZ_X6GWhlHWatiI8g3PQMKcUP9UKjRnUg3lolaNmCT-1vcuHX8nok6ju2JU05l364fgtHEI8EsPGGXT_lWfUTyfIkB6mOvcXy9itWxJneDcf1ordedYfYdjbCoGNbodCaVGRGtzT3tNmjUMmorxarkVkm0sSLv1LuCq272yUr1aOkwClVXc3SaDZeZ7sQ6K5L3uMQbopjjaaIv4EVu7Si-9ZfQrUk23kvWEroV527WWduw8ZBwPAW_ESdxEmlgoV2S0kFU5g2GfDUeJbZvzqXMJV6YjXUrxWddq7NceOlbKnBs3a5wSkyvmiR63YYz61pn2oVm6Vs4eAibWWQUwMpsakVmqfWRPiQ2-YxC-F6wutNhPYkqY1FLQZqFHHoPoNnJY1rbsZPV4aOnmxB4XKQqXSTfA3JEKBtmk5pIc8aL2k8IvrGfHtt0eTloYd6FVpRrKT0Nf2IQ1Fffp7_PNJOXE3egbjxQ1xaA3aAS0PB5EnmLRW3sQRdEZFt3s519papGi-eNJn50z1mL7NLKxo19J2WL3j_85tMPy8iLzL6kjQenR220Awaq9vlIR7FyUY0694T4OfFY50KOH1mDw0OOBt-sZFcMuKOCE-nAgXC_cPeHcZwRABYQ6T-BihIrnPqdhdTA82bZPKoZlG1jkcGSRnU4=w600-h320-no)

The list is a data structure in Python which acts as a container to hold or store multiple data at the same time. Lists are mutable or changeable and ordered sequence of elements. To know more about Python Lists you can visit the official Python Lists documentation. One thing you have to keep in mind is that often we must declare lists using [ ] brackets. The elements inside the [ ] are the values of the list. For example:

In [0]:
# Creating an empty list called "num"
num = [ ]
# Adding the values inside the list
num = [ 1, 2, 3, 4, 5]
# Printing the list
num

[1, 2, 3, 4, 5]

Here the name of the list is "num" and the list values are 1, 2, 3, 4, 5. The advantages of lists are the values inside the lists need not be of the same type meaning:

In [0]:
# Adding the values irrespective of their data type: Integer, String, float.
num = [1, 2, 3, "Tanu", 4.0, 4/2]
num

[1, 2, 3, 'Tanu', 4.0, 2.0]

In order to check the variable if it is a list or not, use the "type" method as follows:

In [0]:
# Create a list as num
num = [1, 2, 3, 4, 5]
# Use type method by passing the name of the list as an arguement 
type(num)

list

### 1) Creating, accessing and calculating the length of a list.

Let us create a list called "name" and then insert some values, later we can then access the elements inside the list using the index with the help of [ ] by placing the index values inside it. We can then calculate the length of the list by using the len ( ) method, just pass the name of the list as an argument to the len( ) method, finally we can also get the length of the individual elements inside the list by using the same len ( ) method but this time we should specify the index position as an argument.

In [0]:
# Creating a list called name
name = ["Tanu", "Nanda", "Prabhu"]
name

['Tanu', 'Nanda', 'Prabhu']

In [0]:
# Accessing the elements in the list
name[0] # Tanu

'Tanu'

In [0]:
# Calculating the length of the list.
len(name)

3

In [0]:
# Calculating the length of individual elements in a list
len(name[0])   # length of "Tanu" is 4

4



---

### 2) Assignment operator on Lists

Assignment with a "=" on lists does not make a copy. Instead, the assignment makes the two variables point to the one list in the memory. Sometimes an assignment operator can be used to copy from one list to the other.

In [0]:
# Creating a list called name
name = ["Tanu", "Nanda", "Prabhu"]
name

['Tanu', 'Nanda', 'Prabhu']

In [0]:
# Creating an empty list names
names = []
names

[]

In [0]:
# Using assignment operator on Lists doesn't create a copy.
names = name
# Assigning the old list name to the new list names.
names

['Tanu', 'Nanda', 'Prabhu']



---

### 3) Appending two lists to a single list.

Usually appending two lists can be done by using append( ) method, but appending can also be done by using a '+' (here + doesn't mean addition) whereas + can be used to add or merge two lists into a single list as shown below.

In [0]:
# Creating a new list called Cars
cars = ["Mercedes", "BMW", "Audi"]
cars

['Mercedes', 'BMW', 'Audi']

In [0]:
# Creating a new list called bikes
bikes = ["Honda", "Yamaha", "Aprilla"]
bikes

['Honda', 'Yamaha', 'Aprilla']

In [0]:
# Appending both the lists
cars_bikes = cars + bikes
cars_bikes

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilla']



---

### 4) Using FOR and IN in lists

In Python the "for" and "in" are called constructs, these constructs are easy to use, they are used whenever you need to iterate over a list.

In [0]:
# Creating a list
num = [1, 2, 3, 4, 5]
# Assigning sum to 0
sum = 0
# Using a for loop to iterate over the list
for i in num:
  sum = sum + i
print(sum) # 15

15



---

### 5) Using IF and IN in lists.

The "if " and "in" construct on its own is an easy way to test if an element appears in a list (or other collection), it tests if the value is in the collection, returning True/False. This also works for the string, characters in Python.

In [0]:
# Creating a list
num = [1, 2, 3, 4, 5]
if 1 in num:
  print("True")
else:
  print("False")

True



---

### 6) Range function in Python.

The Range function in Python is used as a boundary in the looping constructs, the range function starts from 0 to n-1, it doesn't include the last number as shown below.

In [0]:
# Range starts 0 to n-1
for i in range(5):
 print(i)

0
1
2
3
4



---

### 7) While loop in python

Python has a standard while-loop which works similar to the For loop, first you have to initialize, then insert a condition and finally increment

In [0]:
# Initialisin i to 0
i = 0 
while i < 10:
 print(i) # 0–9
 i = i+ 1

0
1
2
3
4
5
6
7
8
9



---

### 8) List methods.

Below are some of the most common list methods shown with an example.

**a) List append method**

The list.append( ) just appends an element to the list but never returns anything, it just appends the element to the existing list.

In [0]:
# Creating a new list called name
name = ['Tanu', 'Nanda']
# Before appending
name

['Tanu', 'Nanda']

In [0]:
# Using the append operation on the current ("Prabhu") is the value to be appended.
name.append("Prabhu")
# After appending
name

['Tanu', 'Nanda', 'Prabhu']



---

**b) List insert method**

List.insert( ) operation is used to insert the elements inside a list with a specified index position.

In [0]:
# Creating a new list called list
name = ['Tanu', 'Nanda']
# Before inserting
name

['Tanu', 'Nanda']

In [0]:
# Insert Operation on the existing list, here the index position is 2.
name.insert(2, "Prabhu")
# After Inserting
name

['Tanu', 'Nanda', 'Prabhu']



---

**c) List extend method**

The extend method adds the elements to the end of the new list. It is similar to append but you have to pass the list as an argument whereas in append it's not necessarily true.

In [0]:
# Creating a new list called name
name = ['Tanu', 'Nanda']
# Before extending
name

['Tanu', 'Nanda']

In [0]:
# Using extend but make sure that you put the elements in a []
# Without []
name.extend("Prabhu")
# After extending
name

['Tanu', 'Nanda', 'P', 'r', 'a', 'b', 'h', 'u']

In [0]:
# After []
name.extend(["Prabhu"])
name

['Tanu', 'Nanda', 'P', 'r', 'a', 'b', 'h', 'u', 'Prabhu']



---

**d) List index method**

The index operation in list searches the element in the list and then returns the index of that element. If the element is not present in the list then the index method returns a value error telling that the element is not in the list.

In [0]:
# Creating a new list called name
name = ['Tanu', 'Nanda']
# Before indexing
name

['Tanu', 'Nanda']

In [0]:
# After indexing, type the element that you want to index.
name.index("Nanda")

1

In [0]:
# If the element is not present then you get an error
name.index("Mercedes")

ValueError: ignored



---

**e) List remove method**

The Remove method in lists searches for the element and then on matching removes the element present in the list. Also throws an error when the element is not in the list.

In [0]:
# Creating a new list called name
name = ['Tanu', 'Nanda']
# Before removing
name

['Tanu', 'Nanda']

In [0]:
# After removing
name.remove("Nanda")
name

['Tanu']

In [0]:
name.remove('Prabhu')

ValueError: ignored



---

**f) List sort method**

As the name suggests the sort method sort the elements in ascending order. This method doesn't return anything.

In [0]:
# Creating a list called num
num = [1, 4, 5, 2, 3]
# Before sorting
num

[1, 4, 5, 2, 3]

In [0]:
# After sorting
num.sort()
num

[1, 2, 3, 4, 5]



---

**g) List Reverse method**

As the name suggests the reverse method reverses the entire list. This method doesn't return anything.

In [0]:
# Creating a list called num
num = [1, 2, 3, 4, 5]
# Before Reversing
num

[1, 2, 3, 4, 5]

In [0]:
num.reverse()
# After the reverse
num

[5, 4, 3, 2, 1]



---

**h) List pop method**

The Pop method removes and returns the element at the given index. Returns the rightmost element if the index is omitted (roughly the opposite of append( )).

In [0]:
# Creating a list called num
num = [1, 2, 3, 4, 5]
# Before popping
num

[1, 2, 3, 4, 5]

In [0]:
# After popping
num.pop(1)

2

In [0]:
num

[1, 3, 4, 5]



---

### 9) List Slices

Slicing the list means cutting down the list elements, it and can also be used to change sub-parts of the list.

In [0]:
char = ['a', 'b', 'c', 'd']
char
['a', 'b', 'c', 'd']
char[1:-1]         ## ['b', 'c']
char

['a', 'b', 'c', 'd']

In [0]:
char[0:2] = 'z'    ## replace ['a', 'b'] with ['z']
char               ## ['z', 'c', 'd']

['z', 'c', 'd']



---

### 10) Converting a string to a list

This is the most important technique, often we need to convert the string to a list in our projects, this is an easy approach that does the job for us. This below example was referred from [geeksforgeeks.com](https://www.geeksforgeeks.org/python-program-convert-string-list/). Here we are using the split method from the strings where the split method just splits the elements from the string and then broadcasts into a list as shown below.

In [0]:
# Creating a String
String = "Tanu"
String

'Tanu'

In [0]:
# Checking for the type 
type(String)

str

In [0]:
# Using the split method to split the string into a list.
name = list(String.split(" ")) 
name

['Tanu']

In [0]:
type(name)

list



---


### 11) List Comprehension

A way to create a new list with less syntax. We use a for loop along with if condition in the square brackets. The syntax is shown below.
- list = [expression for item in iterable]
- list = [expression for item in iterable if condition]
- list = [expression1 if condition else expression2 for item in condition]

In [1]:
# Use list comprehension to create a list called num
num = [i for i in range(10)]
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# Use conditions to create a list called num
num = [i for i in range(10) if i % 2 == 0]
num

[0, 2, 4, 6, 8]

In [3]:
# Use if-else to create a list called num
num = [i if i % 2 == 0 else 'Odd' for i in range(10)]
num

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

Hence above are the very important techniques or methods of Lists in Python. Most of the examples were referred from [Python Lists](https://developers.google.com/edu/python/lists) from Google. I have written this in a simple way such that everybody can understand and master the concepts of lists in Python. If you guys have some doubts in the code, the comment section is all yours.

## ThankYou.